.gitignore
.github
#.env
models/*.gguf
.ipynb_checkpoints
Dockerfile
docker-compose.yaml
.dockerignore
market_db
website
docker
clients
.vscode
node_modules
igora_web/node_modules
openai/node_modules
